# Environnements virtuels
.venv/
venv/

# Cache de Pytest
.pytest_cache/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers temporaires d'éditeurs
*.swp
*.swo
*.bak
*.tmp

# Logs
*.log

# Autres (optionnel)
.env
